*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 77, 77);
}


.App{
  border: 2px solid white;
  padding: 2rem;
  border-radius: 10px;
  background-color: black;
}


.result-display{
  color: white;
  text-align: right;
  padding: 0 1rem;
  font-size: 4rem;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}


.calc-board{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 0.5rem;
}

.calc-board > button {
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 20%;
  height: 4.5rem;
  border: none;
  font-size: 2rem;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.calc-board > button:hover{
  background-color: gainsboro;
}

.calc-board > button:active{
  background-color: rgb(16, 16, 16);
}

.button-0, .button-15{
  grid-column: span 2;
  width: 10rem;
}

